<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.build.server</string>
	<key>ProgramArguments</key>
	<array>
		<string>{PATH TO NODE}</string>
		<string>{PATH TO START ENTRY FILE}</string>
	</array>
	<key>EnvironmentVariables</key>
    <dict>
	<key>PORT</key>
	<string>{INSERT PORT NUMBER HERE}</string>
    </dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>{PATH TO LOG FILE}</string>
</dict>
</plist>
